
body{
    background-color: rgb(250, 215, 228);
}

/*table, tr, td {

    display: block;
}
*/

table {
    width: 100%;
}

.lien {
    
    /*width: 102em;*/
    background-color:#e22b3d;
    vertical-align: middle; 
    text-align: center;
    color: azure;
}

#h1{

    font-size: 60px;
    font-family: "Anton", sans-serif;
}

.header{
    margin-top:5%;
    font-size: 1em;
   /* align-items: center;
    margin-left: 28%;*/
    text-align: center;
}

.logo{

    margin-left: 60em;
}

img { 
    width: 30%;
    /*height: 15em;*/
    /*margin-left: 35%;*/
   /* margin-top: 10%;
    align-items: center;*/
    height: 30%;
    display: block;
    margin: auto;
}

button{ 
    position: absolute;
    width: 20em;
    height: 3em;
    margin-left: 42%;
    border: none;
    background-color: #e22b3d;
    color: aliceblue;
}
#somptueux {
    text-align: center; /* Centre le texte si nécessaire */
}
